.container {
  width: fit-content;
}
.header {
  height: 100px;
  background-color: tan;
}

.innerContainer {
  height: calc(100vh - 200px);
  overflow: auto;
}

.footer {
  background-color: tan;
  height: 100px;
  display: flex;
  align-items: center;
}
.buttonComponent {
  height: 50px;
  width: 100px;
  background-color: aquamarine;
  border: 1px solid black;
}

body {
  padding: 0;
  margin: 0;
}
